body{margin:0}
h1{text-align: center; border-bottom: 2px solid gray; margin: 0; padding: 20px}
ol{border-right:2px solid gray; width:200px; margin:0; padding: 20px; padding-left: 30px}

#grid{display: grid; grid-template-columns: 300px 1fr}
#article{padding-left:0}
@media (max-width:1000px) {
  #grid{display: block;}
  ol{border-right:none}

}
